<div class="centered-content">
  <div class="title-container">
    <h1>Analysis Form</h1>
  </div>
  <div class="form-container">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <label for="gitUrl">Git URL: </label>
      <input type="text" name="gitUrl" id="gitUrl" ngModel required />
      <div class="inline-div">
        <app-dropdown-list
          [label]="'Main language of project:'"
          [name]="'lang'"
          [options]="supportedLanguages"
          (valueChange)="onDropdownChange('lang', $event)">
        </app-dropdown-list>
        <app-dropdown-list
          [label]="'Clustering paradigm:'"
          [name]="'clusteringParadigm'"
          [options]="clusteringParadigms"
          (valueChange)="onDropdownChange('clusteringParadigm', $event)">
        </app-dropdown-list>
      </div>
      <button id="analysis-btn" type="submit">To the moon!</button>
    </form>
  </div>
</div>
