/* Global Styles */
:root {
    --silver-white: rgba(248, 249, 250, 1);
    --transparent-silver-white: rgba(248, 249, 250, 0.9);
    --gold: #c2b280;
    --menu-font-color: #333333;
    --cyan-blue: #3d97f2;
    --transparent-black: rgba(0, 0, 0, 0.4);
    --black-gray: #111111;
}

::selection {
    background: #455063;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../public/fonts/Dosis-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes slide-top-to-bottom {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

@keyframes slide-left-to-right {
    0% {
        left: -200px;
    }
    100% {
        left: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: var(--silver-white);
    scrollbar-color: #000 #111;
}

body {
    margin: 0;
    padding: 0;
}

app-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

h1 {
    font-size: 3.5rem;
    display: block;
}

h2 {
    font-size: 1.5rem;
    display: block;
}

h3 {
    font-size: 1rem;
    display: block;
}

a {
    color: var(--menu-font-color);
    text-decoration: none;
    transition: color 150ms;
}

a:hover {
    color: var(--cyan-blue);
    transition: color 150ms;
}

button {
    background: var(--transparent-black);
    color: var(--silver-white);
    border-radius: 5px;
    border-color: transparent;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    transition: color 150ms, background 150ms;
}

button:hover {
    background: var(--cyan-blue);
    color: var(--silver-white);
    transition: color 150ms, background 150ms;
}

form label, form input, select {
    font-family: inherit;
    margin: 5px;
}

form label {
    font-size: 1rem;
}

form input {
    font-size: 0.8rem;
    background: var(--transparent-black);
    color: var(--silver-white);
    padding: 5px;
    border-radius: 10px;
    border-color: transparent;
}

form input:focus {
    outline: transparent;
}

.inline-div {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.centered-content {
    animation: fade-in 1s normal;
}

.centered-content h1 {
    padding: 20px;
}

.centered-content form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centered-content form .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-content p {
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.title-container {
    text-align: center;
}