/* Global Styles */
:root {
    --silver-white: rgba(248, 249, 250, 1);
    --transparent-silver-white: rgba(248, 249, 250, 0.9);
    --gold: #c2b280;
    --menu-font-color: #333333;
    --cyan-blue: #3d97f2;
    --transparent-black: rgba(0, 0, 0, 0.4);
    --transparent-black-light: rgba(50, 50, 50, 0.4);
    --black-gray: #111111;
    --sunset-orange: #e38136;
    --minimal-green: #4aa367;
    --minimal-red: #a34a4a;
}

::selection {
    background: #455063;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../public/fonts/Dosis-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes slide-top-to-bottom {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

@keyframes slide-left-to-right {
    0% {
        left: -200px;
    }
    100% {
        left: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: var(--silver-white);
    scrollbar-color: #000 #111;
}

body {
    margin: 0;
    padding: 0;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
}

h1 {
    font-size: 3rem;
    display: block;
}

h2 {
    font-size: 1.5rem;
    display: block;
}

h3 {
    font-size: 1.1rem;
    display: block;
}

a {
    color: var(--sunset-orange);
    text-decoration: none;
    transition: color 150ms;
}

a:hover {
    color: var(--cyan-blue);
    transition: color 150ms;
}

button {
    background: var(--transparent-black);
    color: var(--silver-white);
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    transition: color 150ms, background 150ms;
}

button:hover {
    background: var(--cyan-blue);
    color: var(--silver-white);
    transition: color 150ms, background 150ms;
}

form label, form input, select {
    font-family: inherit;
    margin: 5px;
}

form label {
    font-size: 1rem;
}

form input {
    font-size: 0.8rem;
    background: var(--transparent-black);
    color: var(--silver-white);
    padding: 5px;
    border-radius: 10px;
    border-color: transparent;
}

form input:focus {
    outline: transparent;
}

.inline-div {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.centered-content {
    animation: fade-in 1s normal;
}

.title-container h1 {
    padding: 20px;
}

.title-container h2 {
    padding: 60px;
}

.centered-content form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centered-content form .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-content p {
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.title-container {
    text-align: center;
    animation: fade-in 1s normal;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    animation: fade-in 1s normal;
}

.left-aligned-content {
    left: 0;
    background: var(--transparent-black-light);
    padding-left: 20px;
    border-radius: 20px;
}

.left-aligned-content-flex {
    left: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-aligned-content-flex p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    left: 0;
}

.right-aligned-content {
    margin-left: auto;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ac-checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ac-checkbox {
    appearance: none;
    display: none;
}

.ac-checkmark {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: var(--transparent-black);
    border: 2px solid var(--silver-white);
    border-radius: 4px;
    transition: background-color 150ms ease, border-color 150ms ease;
    margin-right: 8px;
}

.ac-checkmark::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 12px;
    border: solid var(--silver-white);
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
    transition: opacity 150ms ease;
}

.ac-checkbox:checked + .ac-checkmark::before {
    opacity: 1;
}

.ac-checkbox-container:hover .ac-checkmark {
    border-color: var(--silver-white);
    background-color: var(--cyan-blue);
}

.ngx-charts text {
    fill: var(--silver-white);
}

ngx-graph {
    display: block;
    height: 100%
}