<div class="ac-dropdown">
    <label [for]="name">{{ label }}</label>
    <input type="hidden" [id]="name" [name]="name" [(ngModel)]="formData[name]">
    <div class="ac-select-wrapper">
      <div class="ac-select" (click)="onToggleDropdown()">
        <div class="ac-select-trigger">
          <span>{{ selectedOptionKey ? selectedOptionKey : placeholder }}</span>
          <div class="arrow" [class.open]="isOpen"></div>
        </div>
        @if (isOpen) {
          <div class="ac-options">
            @for (option of options; track $index) {
              <span class="ac-option" 
                (click)="onSelectOption(option)">
                {{ option.key }}
              </span>
            }
          </div>
        }
      </div>
    </div>
  </div>
  