<header>
  <nav>
    <ul>
      <li id="logo">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img src="media/icons/logo-transparent.png" alt="AstroCluster Logo">
        <span>AstroCluster</span>
        </a>
      </li>
      <li><a routerLink="/">What is AstroCluster</a></li>
      <li><a routerLink="/">Dashboard</a></li>
      <li><a routerLink="/">History</a></li>
      <li><a routerLink="/">Login</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<div class="overlay"></div>
<app-background-video></app-background-video>