#analysis-result-pane {
    background: var(--transparent-black-light);
    padding: 15px;
    border-radius: 20px;
}

#interest-pdf-btn {
    margin-left: 15px;
    background: var(--transparent-black);
    color: var(--silver-white);
    transition: color 150ms, background 150ms;
}

#interest-pdf-btn:hover {
    background: var(--minimal-red);
    color: var(--silver-white);
    transition: color 150ms, background 150ms;
}

#interest-csv-btn {
    margin-left: 15px;
    background: var(--transparent-black);
    color: var(--silver-white);
    transition: color 150ms, background 150ms;
}

#interest-csv-btn:hover {
    background: var(--minimal-green);
    color: var(--silver-white);
    transition: color 150ms, background 150ms;
}

.toggle-fullscreen-btn {
    position: relative;
	z-index: 10000;
	border: 0;
	padding-top: 25px;
    padding-right: 1px;
	background: none;
	color: var(--silver-white);
	cursor: pointer;
	outline: none;
}

.top-right-fullscreen-btn {
    position: fixed;
    z-index: 10000;
    border: 0;
    padding-top: 25px;
    padding-right: 25px;
    top: 0;
    right: 0;
    background: none;
    color: var(--silver-white);
    cursor: pointer;
    outline: none;
}


.toggle-fullscreen-svg {
	display: block;
	height: auto;
}

.toggle-fullscreen-svg path {
	transform-box: view-box;
	transform-origin: 12px 12px;
	fill: none;
	stroke: var(--silver-white);
	stroke-width: 4;
	transition: .15s;
}


.toggle-fullscreen-btn:hover path:nth-child(1),
.toggle-fullscreen-btn:focus path:nth-child(1) {
	transform: translate(-2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(2),
.toggle-fullscreen-btn:focus path:nth-child(2) {
	transform: translate(2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(3),
.toggle-fullscreen-btn:focus path:nth-child(3) {
	transform: translate(2px, 2px);
}

.toggle-fullscreen-btn:hover path:nth-child(4),
.toggle-fullscreen-btn:focus path:nth-child(4) {
	transform: translate(-2px, 2px);
}


.toggle-fullscreen-btn:not(.on) .icon-fullscreen-leave {
	display: none;
}

.toggle-fullscreen-btn.on .icon-fullscreen-enter {
	display: none;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--black-gray);
}
