<div class="centered-content">
    <div class="title-container">
        <h1>About</h1>
        <br/>
        <div class="centered-content" style="background: var(--transparent-black); border-radius: 20px; margin: 0 auto; width: 60%;">
            <p>
                AstroCluster is a framework agnostic clustering model specializing in semantic analysis and clustering of projects,
                striving to support various languages in the future.
            </p>
            <br/>
            <br/>
            <p>
                It currently supports Java projects of any framework. Its model is fine-tuned to perform clustering of project files
                based on the MVC architectural pattern (MVC). These results can then be retrieved for further analysis, either for
                technical debt calculation or for manual inspection and observation.
            </p>
            <br/>
            <br/>
            <p>
                This tool's architectural design is done in such a way that contribution from all parties is heavily encouraged.
                New models can be added and modified so that a wide range of programming languages and clustering paradigms can be
                available to all.
            </p>
            <br/>
            <br/>
            <p>
                This project was completed as part of my bachelor thesis under the supervision of Professor A. Ampatzoglou and
                N. Nikolaidis who guided me through my research process and ideas.
            </p>
        </div>
        <br/>
    </div>
</div>